.culinaria .imagem {
  width: 300px;
  height: 200px;
  object-fit: cover;
}

.table.gastronomia td {
  vertical-align: middle;
}

.table.gastronomia tbody img {
  width: 80px;
  height: 80px;
  object-fit: cover;
}

.table.gastronomia .preco {
  width: 100px;
  text-align: center;
}

@media (max-width: 768px) {
  .table.gastronomia .descricao {
    display: none;
  }
}
