main {
  padding-top: 70px;
}

.flag-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.flag-logo video {
  width: 70px;
}

.lead-flag img {
  width: 300px;
  height: 200px;
}

.passagem {
  background: linear-gradient(135deg, #ffffff, #c8102e);
}

.card-passagem {
  width: 28rem;
}

.all-cards .card {
  height: 100%;
}

.all-cards .card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.all-cards img {
  height: 200px;
  object-fit: cover;
}

footer {
  background: linear-gradient(135deg, #c8102e, #ffffff);
}
